In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['g1', 'g1', 'g1', 'g2', 'g2', 'g2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
inside

[1, 2, 3, 1, 2, 3]

In [4]:
hier_index

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [11]:
df

             A         B
g1 1 -0.005020 -0.418142
   2 -1.121897  1.448799
   3  0.444107  1.119976
g2 1 -0.741632  1.597259
   2  0.552468  1.214508
   3  1.093707  0.319662

In [12]:
df.loc['g1']

          A         B
1 -0.005020 -0.418142
2 -1.121897  1.448799
3  0.444107  1.119976

In [13]:
df.loc['g1'].loc[1]

A   -0.005020
B   -0.418142
Name: 1, dtype: float64

In [14]:
df.index.names = ['Groups', 'Num']

In [15]:
df

                   A         B
Groups Num
g1     1   -0.005020 -0.418142
       2   -1.121897  1.448799
       3    0.444107  1.119976
g2     1   -0.741632  1.597259
       2    0.552468  1.214508
       3    1.093707  0.319662

In [17]:
df.xs(1,level='Num')

               A         B
Groups
g1     -0.005020 -0.418142
g2     -0.741632  1.597259

In [ ]:
d = {'A': [1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}